.diffchange .diffchange-inline
{
    color: yellow;
}
table {
    width: 100%;
}
.diff-lineno
{
    color: blue;
    float: left;
}
.diff-deletedline
{
    color: red;
    float: left;
}
.diff-marker
{
}
.diff-addedline
{
    color: green;
    float: right;
    text-align: left;
}
